/* Обнуление */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  padding-left: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.ttf) format("ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.ttf) format("ttf");
  font-weight: bold;
  font-display: swap;
}

body {
  margin: 0;
  font-size: 10px;

  font-family: "OpenSans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ===================POPUP================= */
.popup__wrp {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  position: relative;

  min-height: 585px;
  max-width: 390px;

  background-color: white;

  z-index: 101;
}

.popup__header {
  margin-top: 46px;

  font-size: 19px;
  text-align: center;
  text-transform: uppercase;

  color: #0f0d0e;
}
.popup__header::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0 auto;

  border-bottom: 3px solid #e1d9bd;
}

.popup__form {
  padding: 0 30px;
  margin-top: 22px;

  font-size: 13px;
}

.popup__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;

  padding-left: 15px;
  display: block;
  font-size: 14px;
  margin-top: 9px;
  height: 47px;
  width: 100%;

  background-color: #f4f7f6;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 12px center;

  border: none;
  cursor: pointer;
}

.popup__mailing {
  margin-top: 28px;
}

.popup__mailing-text {
  display: block;
}

.popup__radio-block {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.popup__radio {
  -moz-appearance: none;
  -webkit-appearance: none;

  margin: 0;
  width: 17px;
  height: 17px;

  background: url(../svg/form-empty-circle.svg) no-repeat;
  background-size: 100%;
}
.popup__radio:checked {
  margin: 0;
  width: 17px;
  height: 17px;
  background: url(../svg/form-circle.svg) no-repeat;
  background-size: 100%;
}

.popup__advice-question {
  display: block;
  margin-top: 29px;
}

.popup__advice {
  resize: none;
  width: 94%;
  height: 114px;

  margin-top: 7px;
  padding: 17px 0 0 22px;
  font-size: 14px;

  outline: none;
  background-color: #f4f7f6;
  border: none;
}

.popup__btn {
  margin-top: 22px;
  width: 100%;
  height: 48px;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  background-color: #b59f5b;
  color: #ffffff;
  border: none;

  cursor: pointer;
}
.popup__btn:hover {
  background-color: #323232;
}

.popup__close {
  position: absolute;
  right: -9px;
  top: -27px;
  background: none;
  border: none;
  width: 30px;
  cursor: pointer;
}

/* ===================HEADER================= */
.header {
  position: relative;

  margin: 0;

  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  position: relative;
  z-index: 2;

  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  padding-top: 29px;

  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.logo {
  padding-left: 2px;
  width: 181px;
}

.header__burger {
  display: none;
}

.nav__list {
  padding: 0;
  display: flex;
  width: 462px;

  list-style-type: none;
  font-size: 1.3em;
  justify-content: space-between;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  text-decoration: underline;
}
.header__title {
  max-width: 687px;
  margin: auto;
  padding-top: 98px;
  padding-bottom: 127px;

  font-size: 4.5em;
  text-align: center;
  line-height: 75px;

  text-transform: uppercase;
  color: #ffffff;
}
/* ================TRENDS================= */
.trends {
  margin-top: 56px;
}

.section__header {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;

  color: #0f0d0e;
}
.section__header::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0 auto;
  border-bottom: 3px solid #e1d9bd;
}

.trends__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-top: 30px;
  gap: 4px;
}

.trends__card {
  position: relative;
  min-height: 320px;
  display: flex;
  align-items: flex-end;

  background-repeat: no-repeat;
  background-size: cover;
}
.trends__card::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}

.garden {
  background-image: url(../images/trend1.jpg);
}
.cheese {
  background-image: url(../images/trend2.jpg);
}
.travel {
  background-image: url(../images/trend3.jpg);
}
.lemon {
  background-image: url(../images/trend4.jpg);
}

.trend__content {
  position: relative;
  margin: 0 24px 15px;
  padding: 33px;

  border: hsla(47, 30%, 40%, 0.6) solid 3px;
  z-index: 2;
}

.trend__text {
  margin-top: 15px;

  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;

  color: #ffffff;
}
/* ===============MAIN================== */
.content {
  margin-top: 56px;
  position: relative;
}

.content__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main {
  position: relative;
  left: 0;
  top: 0;

  flex-grow: 1;
  max-width: 778px;
  min-height: 100%;
}
.post {
  display: flex;
  gap: 30px;
}
.post:nth-child(n + 2) {
  margin-top: 61px;
}

.post__img {
  min-width: 320px;
  max-width: 381px;
}

.post__content {
  max-width: 367px;
}

.post__tags-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.post__tag-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
}
.post__tag-link:hover {
  color: #b59f5b;
  text-decoration: underline;
}

.post__tag-item {
  text-transform: uppercase;
  font-size: 14px;
}
.post__tag-item:nth-child(n + 2) {
  margin-left: 20px;
}

.post__title-link {
  text-decoration: none;
  color: #0f0d0e;
}
.post__title-link:hover {
  color: #b59f5b;
}

.post__title {
  margin-top: 7px;

  max-width: 347px;

  text-transform: uppercase;
  line-height: 22px;
  font-size: 2em;
}

.post__info {
  margin-top: 26px;
}

.post__date {
  font-size: 12px;

  color: #888888;
}

.post__author-name {
  margin-left: 8px;

  font-size: 12px;
  font-weight: bold;

  color: #000000;
}

.post__text > p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;

  color: #0f0d0e;
}
.post__text > p:first-of-type {
  margin-top: 45px;
}
.post-text > p:not(:first-child) {
  margin-top: 16px;
}

/* =======================ASIDE=================== */
.aside {
  width: 272px;
}

.aside-item:nth-of-type(n + 2) {
  margin-top: 56px;
}

.new-post {
  display: flex;
}
.new-post:nth-of-type(n + 2) {
  margin-top: 14px;
}

.subject-name {
  margin: 0;
  padding-left: 5px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #0f0d0e;
}
.subject-name::after {
  content: "";
  display: block;
  width: 66px;
  margin: 10px auto 0 auto;
  border-bottom: 3px solid #e1d9bd;
}

.new-post__block {
  margin-top: 20px;
}

.new-post__img {
  margin-right: 20px;
  margin-top: 8px;
  width: 70px;
}

.new-post__link {
  text-decoration: none;
  color: #0f0d0e;
}

.new-post__name {
  margin: 2px 0 0 0;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
}
.new-post__name:hover {
  color: #b59f5b;
}
/* ==================SEARCH================== */
.search__form {
  width: 100%;
  margin-top: 60px;
  position: relative;
}

.search__field {
  position: relative;

  width: 272px;
  height: 48px;
  padding-left: 18px;

  font-size: 13px;

  background-color: #f4f7f6;
  color: #000;
  border: none;
}
.search__field:focus {
  outline: 1px solid #b59f5b;
}

.search__btn {
  position: absolute;
  right: 0;

  width: 48px;
  height: 48px;

  background-image: url(../svg/search.svg);
  background-color: #b59f5b;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  cursor: pointer;
}
.search__btn:hover {
  background-color: #323232;
}
/* ===============SUBSCRIBE=============== */

.subscribe__form {
  width: 100%;
  margin-top: 21px;
}

.subscribe__field {
  width: 250px;
  height: 48px;
  padding-left: 18px;

  font-size: 13px;

  background-color: #f4f7f6;
  color: #000;
  border: none;
}
.subscribe__field:focus {
  outline: 1px solid #b59f5b;
}

.subscribe__btn {
  margin-top: 17px;
  box-sizing: border-box;
  width: 270px;
  height: 48px;

  text-align: center;
  font-size: 14px;
  text-transform: uppercase;

  background-color: #b59f5b;
  color: #ffffff;
  border: none;

  cursor: pointer;
}
.subscribe__btn:hover {
  background-color: #323232;
}
/* ===============TAGS=============== */
.tags {
  margin-top: 58px;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;

  padding: 0;

  list-style-type: none;
}

.tags__items {
  margin-bottom: 14px;
}
.tags__items:nth-of-type(3n + 2) {
  margin-left: 5px;
  margin-right: 5px;
}

.tag {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 3px 14px;
  text-transform: uppercase;

  color: #0f0d0e;
  border: 3px solid #f4f3f1;
}
.tag:hover {
  color: #b59f5b;
}
/* ===============THEMES=============== */

.themes__list {
  padding: 0;

  list-style-type: none;
}

.themes__item {
  margin-top: 20px;

  border-bottom: 1px solid #eeeeee;
}

.theme {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;

  color: #0f0d0e;
}
.theme:hover {
  color: #b59f5b;
}

sup {
  margin-left: 5px;

  font-size: 14px;

  color: #b59f5b;
}
/* ======================PRODUCTS======================== */

.products {
  margin-top: 60px;
}

.products__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  padding: 0 30px;

  gap: 108px;
}

.product__card {
  display: flex;
  max-width: 300px;
  box-sizing: border-box;
  flex-direction: column;
}

.product__content {
  position: relative;
  margin-top: -15px;
  flex-grow: 1;
  padding: 30px 0;
  outline: hsla(47, 30%, 40%, 0.6) 3px solid;
  outline-offset: 20px;
}

.product__name {
  font-size: 2em;
  text-transform: uppercase;
}

.product__info {
  font-size: 15px;
  line-height: 23px;
}

.product__link {
  text-decoration: none;
  color: #b59f5b;
}
.product__link:hover {
  color: rgba(209, 175, 71, 0.644);
  text-decoration: underline;
}

.product__price-block {
  display: inline-block;
  width: 70px;
  margin-top: 23px;
}

.product__price-after {
  display: inline-block;

  text-decoration: line-through;
  font-weight: bold;
  font-size: 14px;
}

.product__price {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.product__button {
  position: absolute;
  right: 0;
  margin-top: 20px;

  box-sizing: border-box;
  height: 48px;
  width: 140px;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #b59f5b;
  color: #ffffff;
  border: none;

  cursor: pointer;
}
.product__button:hover {
  background-color: #323232;
}

/* ======================FOOTER=========================== */
.footer {
  margin-top: 82px;
  width: 100%;
}

.social {
  width: 100%;
  padding: 31px 0;

  text-align: center;

  background-color: #f4f7f6;
}

.social__list {
  display: flex;
  margin: 0 auto;

  justify-content: center;
  padding: 0;

  list-style-type: none;
}

.social__item {
  width: 20px;
  height: 20px;
}
.social__item:nth-of-type(n + 2) {
  margin-left: 26px;
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}
.dribbble {
  background-image: url("../svg/001-dribbble.svg");
}
.pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
}

.copyright {
  margin-top: 62px;
  margin-bottom: 41px;

  text-align: center;
}

.copyright__link {
  font-size: 12px;

  color: #999999;
  text-decoration: none;
}

/* ======================MEDIA=========================== */

@media (max-width: 1200px) {
  body {
    font-size: 9px;
  }

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .header__nav {
    display: flex;
    padding-top: 43px;
  }

  .logo {
    padding-left: 19px;
    width: 159px;
  }

  .header__title {
    padding-top: 82px;
    padding-bottom: 110px;
    line-height: 58px;
  }

  .trends {
    margin-top: 46px;
  }

  .trends__box {
    grid-template-columns: repeat(2, 1fr);
  }

  .trends__card {
    min-height: 240px;
  }

  .content {
    margin-top: 43px;
  }

  .content__box {
    padding: 0 19px;
  }

  .post {
    flex-direction: column;
    gap: 22px;
  }

  .post__text > p:first-of-type {
    margin-top: 27px;
  }

  .post:nth-child(n + 2) {
    margin-top: 67px;
  }

  .new-post__block {
    margin-top: 30px;
  }

  .search__form {
    margin-top: 53px;
  }

  .footer {
    margin-top: 57px;
  }
}
@media (max-width: 1200px) and (orientation: landscape) {
  .trends__box {
    grid-template-columns: repeat(4, minmax(auto, calc(100% / 4)));
  }
}

@media (max-width: 1080px) {
  .products__block {
    column-gap: 47px;
    row-gap: 42px;
    grid-template-columns: repeat(2, 1fr);
  }

  .header__burger {
    padding: 3px 15px 0 0;
    display: block;
  }

  .burger {
    position: absolute;
    right: 11px;
    display: block;
  }

  .nav {
    display: none;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 8px;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .header__nav {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: 22px;
  }

  .logo {
    margin-top: 203px;
    width: 269px;
  }

  .header__burger {
    padding: 0;
  }

  .header__title {
    padding-top: 32px;
    padding-bottom: 211px;
    line-height: 36px;
    font-size: 26px;
  }

  .trends {
    margin-top: 38px;
  }

  .trends__box {
    grid-template-columns: repeat(1, 1fr);
  }

  .trends__card {
    min-height: 229px;
  }

  .content__box {
    padding: 0;
  }

  .main {
    width: 100%;
  }

  .post {
    gap: 11px;
  }

  .post__info {
    margin-top: 14px;
  }

  .post__text > p:first-of-type {
    margin-top: 14px;
  }

  .post__text > p {
    font-size: 14px;
  }

  .post:nth-child(n + 2) {
    margin-top: 53px;
  }

  .aside {
    margin-top: 51px;
    width: 100%;
  }

  .subject-name {
    font-size: 16px;
  }

  .aside-item:nth-of-type(n + 2) {
    margin-top: 36px;
  }

  .subscribe__field {
    width: 93%;
  }

  .subscribe__btn {
    width: 100%;
  }

  .tags__list {
    margin-top: 33px;
  }

  .tags__items {
    margin-bottom: 20px;
  }

  .tags__list {
    gap: 2px;
  }

  .tags__items:nth-of-type(3n + 2) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .products {
    margin-top: 55px;
  }

  .products__block {
    grid-template-columns: repeat(1, minmax(auto, 290px));
    padding: 0 19px;
  }

  .products__block {
    row-gap: 33px;
  }

  .footer {
    margin-top: 48px;
  }
}
@media (max-width: 920px) and (orientation: landscape) {
  .trends__box {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}
